<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coltion.coltion.dao.ScheduleManagementDao">

	<!-- 생성 시 데이터 공백으로 할 일 생성 -->
	<insert id="insertSchedule">
		insert into schedule_management	(teamspace_no) values (#{dto.teamspaceNo})
	</insert>
	
	<!-- teamspace 내 할 일 목록 출력 -->
	<select id="getScheduleByteamspaceNo" resultType="com.coltion.coltion.dto.ScheduleManagementDto">
		select * from schedule_management where teamspace_no = #{teamspaceNo}
	</select>
	
	<!-- teamspace 내 담당자 할 일 목록 출력(email) -->
	<select id="getScheduleByemail" resultType="com.coltion.coltion.dto.ScheduleManagementDto">
		select * from schedule_management where teamspace_no = #{teamspaceNo} and person_in_charge = #{email}
	</select>

</mapper>